#formHomeContainer {
  background-color: rgba(213, 236, 255, 0.2);
}

textarea{
  resize: none;
}

label {
  font-weight: 500;
}

#disclosureId.btn:focus, #disclosureId.btn:hover, #welcomeId.btn:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

a {
 text-decoration: none;
  color: black;
}

div.btn {
  padding-left: 0px;
}

div.form-group {
  margin-bottom: 1.75rem !important;
}

.is-invalid {
  border-color: red !important;
  background-image: none !important;
}
