<div id="formHomeContainer" class="pt-5 pb-5">
  <div id="coronatimesForm" class="container mb-5">

    <div>
      <div class="btn">
        <a id="featureId" data-toggle="collapse" href="#featureCollapse" role="button"
           aria-expanded="false">
          ⚡ <u>A note on Auto-Save feature</u>
        </a>
      </div>
      <div class="collapse" id="featureCollapse">
        <div class="alert alert-success white-space-pre-line" [innerHTML]="engineeringHighlight"></div>
      </div>
    </div>

    <div>
      <div class="btn">
        <a id="welcomeId" data-toggle="collapse" href="#welcomeCollapse" role="button"
           aria-expanded="false">
          📝 <u>How to use this form</u>
        </a>
      </div>
      <div class="collapse" id="welcomeCollapse">
        <div class="alert alert-primary white-space-pre-line" [innerHTML]="welcomeMessage"></div>
      </div>
    </div>

    <div>
      <div class="btn">
        <a id="disclosureId" data-toggle="collapse" href="#disclosureCollapse" role="button"
           aria-expanded="false">
          ⚠ <u>Disclaimer</u>
        </a>
      </div>
      <div class="collapse" id="disclosureCollapse">
        <div class="alert alert-danger white-space-pre-line" [innerHTML]="fullDisclosure"></div>
      </div>
    </div>

    <hr class="mb-5">
    <div class="h4 text-center mb-5">Share your story</div>

    <form>
      <div class="form-group">
        <label for="firstname">First name</label>
        <input type="text" name="firstname" class="form-control" id="firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Last name</label>
        <input type="text" name="lastname" class="form-control" id="lastname">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="lifeChanger">How has the covid-19 pandemic affected your life?</label>
        <textarea class="form-control" id="lifeChanger" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="precautionInfected">What precautions are you taking to avoid getting infected by covid-19?</label>
        <textarea class="form-control" id="precautionInfected" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="precautionsSpreading">What precautions are you taking to avoid spreading or being a carrier of the
          coronavirus?</label>
        <textarea class="form-control" id="precautionsSpreading" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="wfhproductivity">On a scale of 1-5, how productive are you working from home? (1 = least, 5 =
          most)</label>
        <select class="form-control" id="wfhproductivity">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary mt-5 mr-2">SUBMIT</button>
      <button type="submit" class="btn btn-primary mt-5 mr-2">SAVE AS DRAFT</button>
      <button type="submit" class="btn btn-primary mt-5">EXIT</button>
    </form>
  </div>

</div>
