<div class="container pt-5 pb-5">
  <div id="coronatimesForm" class="mb-5">

    <div class="alert alert-danger">
      <div class="alert-heading fb">⚠ Full disclosure:</div>
      <div class="white-space-pre-line" [innerHTML]="fullDisclosure"></div>
    </div>
    <div class="alert alert-primary mb-5">
      <div class="alert-heading fb">📝 How to use this form:</div>
      <div class="white-space-pre-line" [innerHTML]="welcomeMessage"></div>
    </div>
    <hr class="mb-5">

    <form>
      <div class="form-group">
        <label for="firstname">First name</label>
        <input type="text" name="firstname" class="form-control" id="firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Last name</label>
        <input type="text" name="lastname" class="form-control" id="lastname">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email">
      </div>
      <div class="form-group">
        <label for="lifeChanger">How has the covid-19 pandemic affected your life?</label>
        <textarea class="form-control" id="lifeChanger" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="precautionInfected">What precautions are you taking to avoid getting infected by covid-19?</label>
        <textarea class="form-control" id="precautionInfected" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="precautionsSpreading">What precautions are you taking to avoid spreading or being a carrier of the coronavirus?</label>
        <textarea class="form-control" id="precautionsSpreading" rows="3"></textarea>
      </div>
      <div class="form-group">
        <label for="wfhproductivity">On a scale of 1-5, how productive are you working from home? (1 = least, 5 = most)</label>
        <select class="form-control" id="wfhproductivity">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary mt-5 mr-2">SUBMIT</button>
      <button type="submit" class="btn btn-primary mt-5 mr-2">SAVE AS DRAFT</button>
      <button type="submit" class="btn btn-primary mt-5">EXIT</button>
    </form>
  </div>

</div>
