<div class="mt-5 mb-5 shadow p-4 feedComponentDiv">

  <div class="row">
    <div class="col col-sm-12 col-md-6 mt-4">
        <div class=" font-italic small">Name</div>
        <div class="fb">{{feedData.firstname}} {{feedData.lastname}}</div>
    </div>
    <div class="col col-sm-12 col-md-6 mt-4">
      <div class=" font-italic small">Email</div>
      <div class="fb">{{feedData.email}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-12 col-md-6 mt-4">
      <div class=" font-italic small">Affects of COVID-19</div>
      <div class="fb">{{feedData.affects}}</div>
    </div>
    <div class="col col-sm-12 col-md-6 mt-4">
      <div class=" font-italic small">COVID-19 Precautions</div>
      <div class="fb">{{feedData.precautions}}</div>
    </div>
  </div>

  <div class="row">
    <div class="col col-sm-12 col-md-6 mt-4">
      <div class=" font-italic small">WFH Productivity Level (1-5)</div>
      <div class="fb">{{feedData.wfhProductivity}}</div>
    </div>
    <div class="col col-sm-12 col-md-6 mt-4">
      <div class=" font-italic small">Time Management Tips</div>
      <div class="fb">{{feedData.timeManagement}}</div>
    </div>
  </div>

</div>
<hr>
